/* Being of Mobile */
@media only screen and (max-width: 576px) {
	.lastchild{
		margin-left: 0px;
	}
	.galaksigroup-wrapper  {
	    background: linear-gradient(0deg, #dddddd 85%, #fff 0%);
	}
	.download .lorem_card div{
		margin-left: 0px;
	}
	.wrapper-one .col-12 .wrapper_card{
		margin-bottom: 20px;
	}
	.galaksigroup-wrapper .galaksi-groups  div:nth-child(2){
		margin-left: 0;
	}
	.menu-toggle{
		display: block;
	}
	.mobile-drop{
		background: transparent;
	}
	body {
		margin: 0 0;
		background: #fff;
	}
	header{

	}
	header .row .col-xl-2{
		text-align: center;
	}
	.menu{

		border-radius: 10px;
		padding-left: 50px;
		padding-right: 50px;
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;

		display: flex;
		flex-direction: column
	}
	.menu {
		display: none;
	}
	.menu a{
		font-size: 14px;
		font-weight: bold;
		color: black;
		margin-right: 50px;
		text-transform: uppercase;
	}
	.main_logo{
		text-align: center;
	}
	.main-logo{
		margin-right: 0;
	}
	.mobile-drop{
		display: block;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 55;
	}

	.wrapper .container{

	}
	.wrapper-one img{
		margin-left: 82px;
		margin-bottom: 20px;
	}
	.galaksigroup-wrapper .galaksi-groups{
		padding-bottom: 50px;
		text-align: center;
		margin-bottom: 2rem;
	}
	.galaksi-groups img{

	}
	.lastchild{
		margin-left: 0px;
	}
	.wrapper .container{
		text-align: center;
	}
	.main-p{
		width: auto;
	}
	.wrapper .col-md-3{
		
	}
	.wrapper-one .row .col-12{
		margin-left: 0px;
		max-width: 90%;
		margin-bottom: 10px;	
		text-align: center;

	}
	.arrow-right{
		display: none;
	}

	.arrow-left{
		display: none;
	}
}
@media only screen and (max-width: 576px) {
	.news {
		margin-bottom: 30px;
	}
	.news .container {
		
		
	}
	.news .container  img{
		margin-bottom: 20px;
		text-align: center;
	}

	.news .container  p{
		color: #0093e0;
		font-weight: bold;
	}
	.text{
		max-width: 271px;
	}
}

@media only screen and (max-width: 576px) {
	.slider-diplom img{
		margin: auto;
	}
	.lorem-p{
		font-size: 20px;
	}
	div.news_card  .news_card img{
		text-align: center;
	}
	.download > div{
		text-align: center;
	}
}
@media only screen and (max-width: 576px) {
	.text-uppercase{
		margin-top: 10px;
	}
	footer li{
		font-size: 14px;
	}
	footer h5{
		margin-bottom: 0px;
	}
	.page-footer > div{
		text-align: center;
	}
	.footer-logo{
		margin-left: 0px;
	}
}
/* End of Mobile */
/* Begin of Tablet */
@media only screen and (min-width: 577px) and (max-width: 767px) {

	.download .lorem_card div{
		margin-left: 0px;
	}
	.wrapper-one .col-12 .wrapper_card{
		margin-bottom: 20px;
	}
	.galaksigroup-wrapper .galaksi-groups  div:nth-child(2){
		margin-left: 0px;
	}
	.menu{
		text-align: center;
		border-radius: 25px;
		padding-left: 5px;
		padding-right: 5px;
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.menu a{
		font-size: 10px;
		font-weight: bold;
		color: black;
		margin-right: 5px;
		text-transform: uppercase;
	}
	.lastchild{
		margin-left: 0;
	}
	.galaksigroup-wrapper .galaksi-groups{
		padding-bottom: 50px;
		text-align: center;
		margin-bottom: 2rem;
	}
	.slider-diplom img{
		margin: auto;
	}

}


@media only screen and (min-width: 768px) and (max-width: 992px) {
	.news_card div img{
		text-align: center;
		width: auto;
		padding-bottom: 0px;
	}
	.lastchild{
		margin-left: 0px;
	}
	.galaksigroup-wrapper  {
	    background: linear-gradient(0deg, #dddddd 78%, #fff 0%);
	}
	.menu{
		text-align: center;
		border-radius: 25px;
		padding-left: 0px;
		padding-right: 20px;
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.menu a{

		margin-right: 5px;
		font-size: 12px;
	}
	.galaksi-groups{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
	.wrapper-one .row .col-12{
		margin-left: 0px;
		max-width: 90%;
		margin-bottom: 10px;	
		text-align: center;

	}
	.lastchild{
		margin-left: 0;
	}
	.galaksi-groups .col-md-6{
		text-align: center;
	}

	.flex-container .news_card{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:center; 
	}
	.footer_title{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer-logo{
		margin-left: 0px;
	}
	.slider-diplom img{
		margin: auto;
	}
}
/* End of Tablet */




/* Start of Bigger Tablet or Desktop */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
	.news_card div img{
		text-align: center;
		width: auto;
		padding-bottom: 0px;
	}
	.news_card div, p{
		text-align: center;
	}
	.news_card .text{
		max-width: 70%;
		margin: 0 auto;
	}
	.lastchild{
		margin-left: 0px;
	}
	.galaksigroup-wrapper  {
	    background: -webkit-linear-gradient(bottom, #dddddd 77%, #fff 0%);
	    background: -o-linear-gradient(bottom, #dddddd 77%, #fff 0%);
	    background: linear-gradient(to top, #dddddd 77%, #fff 0%);
	}
}


/* End of Bigger Tablet or Desktop */ 	



/* Start of Desktop */
@media only screen and (min-width: 994px) and (max-width: 1199px){
	.lastchild{
		margin-left: 0px;
	}
	.news_card div img{
		text-align: center;
		width: auto;
		padding-bottom: 0px;
	}
	.menu{
		text-align: center;
		border-radius: 20px;

		padding-left: 2px;
		padding-right: 2px;
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-right: 20px;
	}

	.menu a{
		font-size: 14px;
		font-weight: bold;
		color: black;
		margin-right: 20px;
		text-transform: uppercase;
	}
	.galaksi-groups div{
		display: flex;
		justify-content: center;
	}



}


/* End of Desktop */