html {
	font-size: 10px;
}

section{

	width: 100%;
	/*
	height: 100%;
	position: fixed;
	z-index: 5000;
	*/
	/*background-color: #fa6c98;*/
	transition: transform 650ms;
	
}

.menu-toggle{
	display: none;
	position: absolute  ;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
	z-index: 2000;
}

.menu-toggle .fa-times{
	display: none;
}
section.nav-open .fa-times{
	display: block;
}

section.nav-open .fa-bars{
	display: none
}

.overlay{
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	z-index: 1000;
	display: none;
}

section.nav-open .overlay{
	display: block;
}

.sidebar{
	
	position: absolute;
	top: 0px;
	left: 0;
	width: 25rem;
	height: 100vh;
	transform: translateX(-25rem);
	background-color: #020A17;
	padding: 0 1rem;	
	z-index: 1500;
}

section.nav-open{
	transform: translateX(25rem);
}

.nav-list{
	list-style: none;
}

.nav-item{
	position: relative;
	margin: 1rem;
	padding: .5rem 0px;
}

.nav-item::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background: linear-gradient(to right, #fa6c98, #0093e0);
}

.dropdown .nav-item::before{
	display: none;
}

.nav-link{
	color: #fff;
	font-size: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: color 400ms;
}

.nav-link:hover{
	color: #cdcdcd;
}

/* Dropdown */
.dropdown-content{
	min-width: 25rem;
	margin-left: 2rem;
	display: none;
}


.show-dropdown{
	display: block;
}


/* End of Dropdown */


