*{
	margin: auto 0;
	padding: 0;	
	font-family: "OpenSans";
}
.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}		
.container{
}

p, .text, a {
	font-size: 14px;
}
header{
	margin-top: 0px;
	margin-bottom: 100px;
	background: url("../img/bg1.png") no-repeat center top / cover;
	background-size: auto;
}
header section {
	margin-bottom: 240px;
}
.menu{
	text-align: center;
	border-radius: 25px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu a{
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-right: 50px;
	text-transform: uppercase;
}

.menu a:hover{
	text-decoration: none;
	color: #0093e0;
}
.main-logo{
	margin-top: 22px;
	margin-right: 260px;
}

.mobile-drop{
	display: none;
}
.wrapper_card {

}
.wrapper-one .row .wrapper_card {
	margin: 0 auto;
	margin-top: 0px;
	background-color: white;
	padding-top: 40px;
	
	height: 250px;
	border-radius: 25px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.wrapper-one .wrapper_card p{
	font-size: 15px;
}
.wrapper-one .row  img{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 20px;
}
.wrapper-one .row p{
	text-align: center;
}
.wrapper{
	margin-top: 50px;
}
.main-h1{
	color: white;
	font-size: 48px;
}
.main-p{
	color: white;
	width: 325px;
	font-size: 20px;
	margin-bottom: 50px;
}
.button-main{
	color: #0093e0;
	background-color: white;
	border-radius: 25px;
	padding: 18px;
	font-size: 16px;
}
.button-main:hover{
	text-decoration: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
}


.galaksigroup-wrapper  {
    background: linear-gradient(0deg, #dddddd 70%, #fff 0%);
}
.galaksigroup-wrapper .galaksi-groups{
	padding-bottom: 50px;
}
.galaksigroup-wrapper .img-container img{
	text-align: center;
	max-width: 100%;
	padding-bottom: 20px;
}
.galaksigroup-wrapper .galaksi-groups  div:nth-child(2){
	margin-left: -27px;
}
.galaksi-h1{
	font-size: 48px;
	color: #0093e0;
	text-align: center;
}

.lastchild{
	margin-left: 66px;
}


.galaksi-groups img .lastchild{
	margin-right: 0px;
	margin-left: 105px;
}

/* Start of Cards */
.news_card div img {
	width: 100%;
	max-height: 180px;
}

/* End of Cards */

/* Start of News */
.news {
	margin-bottom: 30px;
}
.news .container .col{
	margin-left: 10px;
	max-width: 272px;
}
.news .container  img{
	margin-bottom: 20px;
}
.news .container  p{
	font-size: 16px;
	color: #0093e0;
	font-weight: bold;
}
.text{
	max-width: 271px;
	font-size: 15px;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* End of News */

/* Begin of Slider */
.slider-diplom .owl-carousel img{
	width: 85%;
}

.arrow-right{
	padding: 1rem;
	background-color: #003587;
	height: 3rem;
	border-radius: 50%;
	width: 3rem;
	position: absolute;
	top: 40%;
	right: 0;
	cursor: pointer;
}
.arrow-left:hover, .arrow-right:hover{
	background-color: #d1d1d1;
}
.arrow-left{
	padding: 1rem;
	background-color: #003587;
	height: 3rem;
	border-radius: 50%;
	width: 3rem;
	position: absolute;
	top: 40%;
	left: -4%;
	cursor: pointer;
}
/* End of Slider */
/* Start of Download card */
.new-h1{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 30px;
	color: #0093e0;
	text-align: center;
}
.download .lorem_card {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	
}
.download .lorem_card div{
	margin-left: -25px;
}

.lorem-p{
	color: #0093e0;
	font-size: 23px;
	line-height: 1.565;
}
.download {
	margin-top: 80px;
	margin-bottom: 30px;
	background: url(../img/bg_dowload.png) no-repeat top; 
}
.download  img{
	margin-right: 20px;
	max-width: 90%;
}
.download .container p{
	max-width: 380px; 
}
.download-button{
	margin-top: 20px;
	color: white;
	background-color: #003587;
	border-radius: 25px;
	box-shadow: 1px 6px 0px 0px rgba(56,111,195,1);
	padding: 10px 30px;
}
.download-button:hover{
	text-decoration: none;
	background-color: transparent;
	color: #0093e0;
	cursor: pointer;
	border: 2px rgba(56,111,195,1);
	box-shadow: 3px 3px 3px 3px rgba(56,111,195,1);

}

/* End of Download card */


/* Start of Footer */
footer {
	margin-bottom: 30px;
}
footer h5{
	margin-bottom: 20px;
}
footer .phone_li h5{
	margin-bottom: 0px;
}
footer li{
	font-size: 15px;
}
.footer-logo{
	margin-left: 0px;
}
.all-rights{

}
.all-reserved {
	font-size: 13px;
}
.all-reserved .container .col{
	margin-top: 0px;
}
.all-reserved .container .col-3{
	margin-top: 0px;
}
.all-reserved .container .col-2{
	margin-top: 0px;
}
.last-line{
	  border: 0.7px solid black;
	color: black;
}
.icons_footer{

	}
.a-lux{
	color: #0093e0;
}

/* End of Footer */ 



